name: OpenLibm CI

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build-nix:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        arch:
          - x64
          - x86
          - armv7
          - aarch64
        exclude:
          - os: macos-latest
            arch: armv7
          - os: macos-latest
            arch: x86
            
    steps:
      - uses: actions/checkout@v2
      - name: Build and run tests
        run: make && make test

  build-msys2:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { sys: mingw64, env: x86_64 }
          - { sys: mingw32, env: i686 }
          - { sys: ucrt64,  env: ucrt-x86_64 }  # Experimental!
          - { sys: clang64, env: clang-x86_64 } # Experimental!
            
    steps:
      - uses: actions/checkout@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          install: mingw-w64-${{matrix.env}}-toolchain
      - name: Build and run tests
        shell: msys2 {0}
        run: make && make test
